.btn-group button {
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 0px;
  height: 32px;
  width: 85px;
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: 24px;
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:not(:last-child) {
  border-right: none;
}
.btn-group button:hover,
.btn-group button:focus {
  background-color: #3781de;
  color: #fff;
  border: 1px solid #3781de;
}
.select-first {
  margin: 0px 32px 40px 8px;
  padding: 0px 16px;
  height: 32px;
  width: 210px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #222222;
  font-size: 14px;
  outline: none;
}
.btn-atune-adm {
  border-radius: 4px;
  margin-left: 128px;
  margin-right: 8px;
  height: 32px;
  width: 110px;
  background-color: #e6e6e6;
  color: #999999;
  font-size: 14px;
  border: 1px solid #999999;
  cursor: pointer;
}
.btn-add-parameter {
  border-radius: 4px;
  height: 32px;
  width: 110px;
  background-color: #3781de;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #3781de;
  cursor: pointer;
}
.please-input {
  border: none;
  border-bottom: 1px solid #cccccc;
  width: 170px;
  margin-right: 32px;
  margin-bottom: 40px;
}
.please-input:focus {
  outline: none;
}
.please-input::-webkit-input-placeholder {
  color: #cccccc;
}
.selectfile-table {
  border-collapse: collapse;
  margin-left: 248px;
  width: 883px;
  text-align: left;
  border: none;
}
.selectfile-table th {
  background-color: #f5f5f5;
  height: 32px;
  color: #999999;
}
.selectfile-table td {
  height: 48px;
  padding-left: 11.54px;
  border-bottom: 1px solid #e6e6e6;
}
.command-textbox {
  width: 1544px;
  height: 212px;
  margin: 16px 8px 16px 16px;
  overflow: auto;
  border: none;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0px;
  outline: none;
}
.textbox-div {
  margin-left: 248px;
  margin-bottom: 80px;
  width: 1576px;
  height: 236px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
  padding-right: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  padding-right: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cccccc;
}
