.button-group {
  position: absolute;
  right: 0%;
}
.select-lang {
  height: 32px;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #222222;
  margin: 6px 32px 0px 8px;
}
.btn-loginlayout {
  color: #222222;
  font-size: 14px;
  margin: 0px;
  padding: 0px 24px;
  height: 32px;
}
