.col-modu-a {
  background-color: #f1f2f6;
}

.login-Interface {
  height: 300px;
  width: 200px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 2px #c2d9f8;
  margin: 40px 80px;
}

.login-card {
  width: 530px;
  height: 524px;
  margin: 130px 250px;
}

.login-input {
  width: 450px;
  height: 48px;
  margin-bottom: 16px;
  margin-left: 40px;
  outline: #cccccc;
  border-radius: 4px;
  padding: 24px;
  border: 1px solid #cccccc;
}

.login-hint {
  margin-left: 40px;
  font-size: 16px;
  color: red;
}

.login-input::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 16px;
}

.btn-login {
  background-color: #5fa1f8;
  color: white;
  font-size: 24px;
  width: 450px;
  height: 64px;
  margin-left: 24px;
  margin-bottom: 32px;
}

.text-login {
  font-size: 36px;
  color: #59696c;
  margin: 40px 0px 24px 0px;
}

.login-tips {
  padding-top: 5px;
  margin-right: 24px;
  color: #3781de;
  font-size: 14px;
}

.text-pic-bottom {
  color: #59696c;
  font-size: 28px;
  font-weight: bolder;
  margin-left: 320px;
}