.q-toolbar {
  padding: 16px 0px;
}
.button-group {
  position: absolute;
  right: 0%;
}
.search-input {
  border-radius: 20px;
  height: 32px;
  border: 1px solid #cccccc;
  padding-left: 10px;
  display: none;
  outline: none;
}
.search-img {
  background: url(../assets/layout/search-1.png) no-repeat;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 5px;
}
.search-img:hover {
  background: url(../assets/layout/search-2.png) no-repeat;
}
.select-lang {
  height: 32px;
  outline: none;
  border: 0;
  font-size: 16px;
  color: #222222;
  margin-top: 4px;
}
